<html xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/wrap.html" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment = "admin_content">
    <div class="justify-content-between">
        <h2 th:text="${admin_brand.name}"></h2>
        <div class="row mt-4">
            <div class="col-md-9">
                <form th:action="@{'/editbrand'}" method="post" >
                    <input type="hidden" name="edit_brand_id" th:value="${admin_brand.id}">
                    <div class="form-group">
                        <label th:text="#{label.name}"></label>
                        <input type="text" class="form-control" name="edit_brand_name" th:value="${admin_brand.name}">
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.countries}"></label>
                        <select class="form-control" name="country_id">
                            <option th:each="cnt : ${admin_brand_countries}" th:text="${cnt.name}" th:value="${cnt.id}" th:selected="${admin_brand!=null&&admin_brand.country!=null&&admin_brand.country.id==cnt.id}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success float-right" th:text="#{label.edit}" sec:authorize="hasRole('ROLE_ADMIN')"></button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>