<html xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/wrap.html" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment = "admin_content">
    <div class="justify-content-between">
        <h2 th:text="#{label.categories}"></h2>
        <button type="button" class="btn btn-info mt-3" data-toggle="modal" data-target="#addCategory" th:text="#{button.addCategory}" sec:authorize="hasRole('ROLE_ADMIN')">
        </button>
        <div class="row mt-4">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.name}"></th>
                        <th th:text="#{label.logoURL}"></th>
                        <th th:text="#{label.edit}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "category : ${admin_categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.logoURL}"></td>
                        <td><a class="btn btn-sm" style="background-color: #343a40; color: #fff;" th:href="@{'/categorydetails/' + ${category.id}}" th:text="#{label.edit}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addBrand" tabindex="-1" aria-labelledby="addBrand" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBrandLabel">New Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <form th:action="@{'/addbrand'}" class="w-100" method="post">
                        <p style="width: 100%;" th:text="#{label.name}"> </p>
                        <div class="form-group w-100"><input type="text" name="brand_name"></div>
                        <p style="width: 100%;" th:text="#{label.country}"> </p>
                        <div class="form-group w-100">
                            <select class="form-control" name="country_id">
                                <option th:each="cnt : ${brand_countries}" th:text="${cnt.name} + ' - ' + ${cnt.code}" th:value="${cnt.id}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success float-right" th:text="#{button.addBrand}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>