<html xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
<div layout:fragment = "site_content">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item" th:text="#{label.categories}" style="background-color: #156145; color: #fff;"></li>
                <li class="list-group-item"><a th:href="@{'/'}" th:text="#{label.allItems}"></a></li>
                <li class="list-group-item"><a th:href="@{'#'}"> <span th:text="#{label.phone}"></span>, <span th:text="#{label.gadgets}"></span> </a></li>
                <li class="list-group-item"><a th:href="@{'#'}"> <span th:text="#{label.tv}"></span>, <span th:text="#{label.audio}"></span>, <span th:text="#{label.video}"></span> </a></li>
                <li class="list-group-item"><a th:href="@{'#'}" th:text="#{label.for_game}"></a></li>
                <li class="list-group-item"><a th:href="@{'#'}" th:text="#{label.other}"></a></li>
            </ul>
            <ul class="list-group mt-3">
                <li class="list-group-item" th:text="#{label.brands}" style="background-color: #156145; color: #fff;"></li>
                <li class="list-group-item" th:each="b : ${brands}"><a th:href="@{'/search?search_name=&search_brand='+${b.id}+'&price_from=&price_to=&order='}" th:text="${b.name}"></a></li>
                <li class="list-group-item"><a th:href="@{'#'}" th:text="#{label.other}"></a></li>
            </ul>

        </div>
        <div class="col-md-9">
            <form class="form-inline mt-3" th:action="@{'/search'}" method="get">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="search_name" th:placeholder="#{label.name}">
                    </div>
                    <div class="col">
                        <select class="form-control" name="search_brand">
                            <option th:text="#{label.brands}" value="0"></option>
                            <option th:each="br : ${brands}" th:text="${br.name}" th:value="${br.id}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control" name="order">
                            <option th:text="#{label.ascending}" value="Asc"></option>
                            <option th:text="#{label.descending}" value="Desc"></option>
                        </select>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col">
                        <input type="number" class="form-control" name="price_from" th:placeholder="#{label.price_from}">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="price_to" th:placeholder="#{label.price_to}">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary mb-2" th:text="#{button.search}"></button>
                    </div>
                </div>

            </form>
            <div class="row">
                <div class="col-md-4" th:each="product : ${search_items}">
                    <div class="card mt-3">
                        <img th:src="${product.getSmallPicURL()}" class="card-img-top" width="250" height="250">
                        <div class="card-body">
                            <h5 class="card-title"><a th:href="@{'/details/' + ${product.id}}" th:text="${product.getName()}" ></a></h5>
                            <h5 class="card-title"><span th:text="${product.getPrice()}"></span> KZT</h5>
                            <p class="card-text" th:text="${product.getDescription()}"></p>
                            <p class="card-text">Rating <span th:text="${product.getStars()}"></span> stars</p>
                            <p class="card-text">Brand: <a th:href="@{'/search?search_name=&search_brand='+${product.brand.id}+'&price_from=&price_to=&order='}" th:text="${product.brand.name}"></a>, <span th:text="${product.brand.country.name}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>